@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
}

body {  
    font-family: 'Lato', sans-serif;
    background-color: rgb(136, 197, 120);
}


.page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.btn {
    font-size: .9em;
    cursor: pointer;
}


/* Header Section */
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(64, 73, 64);
    border-bottom: 5px solid rgb(71, 105, 70);
    z-index: 9999; 
}

.logo {
    width: 65vw;
}

.logo h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.logo h1 a {
    color: rgb(127, 255, 144);
}

nav {
    font-weight: 600;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    padding: 0 14px ;
}

nav ul li a {
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
    color: rgb(158, 247, 140);
    border-bottom: 3px solid rgb(255, 255, 255);
    transition:
        color .5s;
}


/* Hero Section */
.hero {
    margin-top: 250px;
    padding-bottom: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-bottom: 7px solid rgb(71, 105, 70);
    
}

.hero::before {
    content: "";
    background-image: url("https://c4.wallpaperflare.com/wallpaper/463/878/519/pickles-vegetables-food-green-wallpaper-preview.jpg");
    opacity: .7;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: cover;
    position: absolute;
    transition: smooth;
    z-index: -9999;
    height: 90%;
}

.hero h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
    font-style: Lato, sans-serif;
    font-size: 250%;
    color: rgb(255, 255, 255);
}

form { 
    padding: 30px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.795);
    border: 3px solid rgb(28, 119, 33);
    border-radius: 25px;
}

.hero input {
    width: 100%;
    height: 40px;
    border: none;
}

.hero input:focus {
    outline: none;
    background-color:rgb(23, 85, 67);
}


.hero input[type="email"] {
    max-width: 350px;
    background-color: rgb(63, 63, 63);
    padding-left: 15px;
    font-size: 15px;
    color: white;
    border-style: hidden;
}

.hero input[type="submit"] {
    margin-left: -10px;
    max-width: 70px;
    border-radius: 0 13px 13px 0;
    background-color: rgb(137, 173, 118);
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.hero input[type="submit"]:hover {
    background-color: rgb(79, 215, 30);
    border: 3px solid rgb(177, 255, 193);
    color: rgb(255, 255, 255);
    transition: 
        background-color 1s, 
        border .5s,
        color .5s;
}


/* media section */
#media {
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: rgb(178, 209, 127);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#media::after {
    content: "";
    width: 545px;
}

#media .video {
    object-fit: cover;
    padding: 15px;
}

#media .video iframe {
    width: 515px;
    min-width: 270px;
    border-top: 25px solid rgb(255, 242, 64);
    border-radius: 0 0 20px 20px;
    box-shadow:  0px 5px 10px black;
}

#media .video iframe:last-child {
    margin-right: auto;
}

#media::-webkit-scrollbar {
    width: 1em;
}

#media::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .2)
}

#media::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(35, 107, 13);
}


/* Styles Section */

#styles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



#styles .style {
    border-top: 7px solid rgb(16, 49, 7);
    border-bottom: 7px solid rgb(16, 49, 7);
    border-radius: 16px;
    width: 100%;
    padding: 30px;
    height: 500px;
    background-color: rgb(16, 49, 7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    min-width: 160px;
    overflow: hidden;
}

@media (min-width: 1200px){
    #styles .style:hover {
        width: 80%;
        font-size: 180%;
        transition:
            width .2s ease-in;
    }
}


#whole {
    background-image: url("https://wallpapers.com/images/file/pickles-with-shiny-skin-dyl6wv9me0y2ynic.jpg");
}

#spears {
    background-image: url("https://assets.bonappetit.com/photos/5bec46ad77ffda5e6a77f461/16:9/w_640,c_limit/spicy-lightly-pickled-cucumbers.jpg");
}

#slices {
    background-image: url("https://as1.ftcdn.net/v2/jpg/01/26/67/46/1000_F_126674682_leeLfJo70GW1fsRw4wUM4tiuY58MutgV.jpg");
}

#whole, #spears, #slices {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.name {
    background-color: rgb(47, 53, 44);
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px 0;
    font-size: 230%;
    font-weight: 700;
    font-style: italic;
    width: 83%;
    text-transform: uppercase;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
    height: 100%;
    padding-left: 30px; 
    border-right: 30px solid rgba(255, 255, 255, 0.733);
    border-radius: 0 0 7px 7px;
    background-color: rgba(88, 88, 88, 0.336);
    color:rgba(255, 255, 255, 0);
    transition: 
        color .2s;

}

.info:hover {
    background-color: rgba(0, 0, 0, 0.582);
    color:rgba(255, 255, 255, 0.952);
    transition: 
        color .2s;
}

.price-range {
    margin-top: 15px;
    font-style: italic;
}

.brands-by-votes {
    width: 100%;
    padding: 30px 0;
}


.style .btn {
    margin-top: 10px;
    width: 65px;
    border: 3px solid rgb(58, 103, 67);
    border-radius: 25px;
    background-color: rgb(137, 173, 118);
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: 
        width .2s;
}

@media (min-width: 800px){
    .style .btn:hover {
        width: 200px;
        background-color: rgb(79, 215, 30);
        border: 3px solid rgb(177, 255, 193);
        border-radius: 35px;
        color: rgb(255, 255, 255);
        transition:
            width .2s, 
            background-color 1s, 
            border .5s,
            border-radius .5s,
            color .5s; 
    }
}

/* Footer */
footer {
    background-color: rgb(162, 158, 137);
    padding: 15px;
    margin-bottom: 30px;
}

footer ul {
    display: flex;
    justify-content: flex-end;
}

footer ul li {
    padding: 0 10px;
}

footer span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444
}


/* media screen 1000px */
@media (max-width: 1200px) {
   #styles .style {
        font-size: 130%;
        height: 40%;
   }

    .name {
        width: 300px;
        height: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: transparent;
        font-size: 200%;
        padding: -8px 1px;
        margin-right: 115px;
        background-color: #598a46;
        border-radius: 0;
        text-shadow: black -5px 0 1px;transition: 
            background-color .5s ease-in,
            text-shadow .7s
        
    }

    .info {
        width: 300%;
        background-color: rgba(0, 0, 0, 0.582);
        color:rgba(255, 255, 255, 0.952);
        border: none;
        padding: 0;
    }

}

@media (max-width: 800px) {
    #styles {
        max-height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #styles .style {
        width: 100%;
        height: 120px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0;
        border: 0;
        border-top: 7px solid rgb(16, 49, 7);
        transition: 
            height .05s ease-out;
    }

    #styles .style:last-child {
        border-bottom: 7px solid rgb(16, 49, 7);
    }

    .name {
        font-size: 30px;
        width: 100%;
        height: 100%;
        margin: 40px auto;
        background-color: rgba(0, 0, 0, 0.123);
        color: white;
        padding-bottom: 230px; 
        display: flex;
        justify-content: flex-start;
        transition:
            padding .2s ease-out;
    }

    .style .btn {
        width: 10%;
        height: 300px;
        border: 3px solid rgb(58, 103, 67);
        background-color: rgba(137, 173, 118, 0.575);
        font-size: 20px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        transition: 
            width .2s;
    }

    .info {
        display: none;
    }
    
    @media (min-width: 665px) {

        #styles .style:hover {
            border-top: none;
            border-bottom: none;
            opacity: 1;
            height: 320px;
            transition: 
                opacity .3s,
                height .2s ease-in;
        }

        #styles .style:not(:hover) {
            opacity: .8;
        }

        .name:hover {
            font-size: 70px;
            padding: 40px;
            align-items: center;
            transition:
                align-items .3s ease-in
                padding .4s ease-in;
        }

        .name:not(:hover) {
            background-color: rgba(0, 0, 0, 0.404);
        }
        
        .style .btn:hover {
            width: 14%;
            background-color: rgb(79, 215, 30);
            border-left: 3px solid rgb(177, 255, 193);
            border-radius: 35px;
            color: rgb(255, 255, 255);
            margin-left: -40px;
            transition:
                width .2s, 
                background-color .5s, 
                border .5s,
                border-radius .5s,
                color .5s;
            }
    }
}


/* Media 500px-650px */

@media (max-width: 665px) {

    header {
        padding-top: 25px;
        flex-wrap: wrap;
    }


    .logo {
        background-color: rgb(127, 255, 144);
        font-size: 130%;
        width: 100%;
        display: flex;
        justify-content: center;
        border: 5px solid white;
        border-radius: 25px;
        padding: 0 20px;
    }
  
    .logo h1 a {
        color: rgb(64, 73, 64);
    } 

    nav {
        display: none;
    }

    /* hero section */

    form {
        background-color: transparent;
        border: transparent;
    }

    .hero {
        margin-top: 40px;
        padding-bottom: 10px;
        height: 50%;
        border-bottom: 5px solid rgb(71, 105, 70);
    }

    .hero h2 {
        font-size: 300%;
        color:rgb(16, 49, 7);
    }

    /* media section */
    #media {
        height: 340px;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
        overflow: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    #media .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-left: 65px;
        margin-right: -15px;
    }
    
    #media .video iframe {
        border-top: 20px solid rgb(255, 242, 64);
    }

    #media .video iframe:last-child {
        margin-right: 25px;
    }

    #media::after {
        content: "";
        width: 380px;
    }

    #media::-webkit-scrollbar {
        width: 1em;
    }

    #media::-webkit-scrollbar-track:hover {
        background-color: rgba(0, 0, 0, .2);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .2)

    }

    #media::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(35, 107, 13);
    }

    /* style section */
    #styles {
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;
        border-top: 5px solid rgb(71, 105, 70);
    }
    
    .style {
        max-width: 300px;
        width: 100%;
        margin-bottom: 10px;
        background-color: rgb(16, 49, 7);
        color: white;
    }

    .style:hover {
        background-color: rgb(151, 224, 131);
        color: black;
        transition:
            background-color .5s ease,
            color .5s;
        
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media (max-width: 500px) {

    .logo {
        margin: 0 20px;
        font-size: 120%;
    }

    
}